@font-face {
    font-family: 'LincolnFont';
    src: url('//www.lincoln.com/shared/fonts/LincolnFonts/ProximaNova/ProximaNova-Reg-webfont.woff') format('woff');
    font-weight: 400; /* Normal weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnFont';
    src: url('//www.lincoln.com/shared/fonts/LincolnFonts/ProximaNova/ProximaNova-Light-webfont.woff') format('woff');
    font-weight: 300; /* Light weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnFont';
    src: url('//www.lincoln.com/shared/fonts/LincolnFonts/ProximaNova/ProximaNova-Sbold-webfont.woff') format('woff');
    font-weight: 600; /* Semi-bold weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnFont';
    src: url('//www.lincoln.com/shared/fonts/LincolnFonts/ProximaNova/ProximaNova-Bold-webfont.woff') format('woff');
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnSerif';
    src: url('//www.lincoln.com/shared/fonts/LincolnFonts/LincolnMiller/lincolnmillerb-semibold-webfont.woff') format('woff');
    font-weight: 600; /* Semi-bold weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnSerif';
    src: url('//www.lincoln.com/shared/fonts/LincolnFonts/LincolnMiller/lincolnmillerb-lightitalic-webfont.woff') format('woff');
    font-weight: 300; /* Light weight */
    font-style: italic;
}

@font-face {
    font-family: 'LincolnSerif';
    src: url('//www.lincoln.com/shared/fonts/LincolnFonts/LincolnMiller/LincolnMillerBWGL-Light.woff') format('woff');
    font-weight: 300; /* Light weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnSerif';
    src: url('//www.lincoln.com/shared/fonts/LincolnFonts/LincolnMiller/LincolnMillerBWGL-Roman.woff') format('woff');
    font-weight: 400; /* Normal weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnSerif';
    src: url('//www.lincoln.com/shared/fonts/LincolnFonts/LincolnMiller/LincolnMillerBWGL-Black.woff') format('woff');
    font-weight: 900; /* Black weight */
    font-style: normal;
}
